@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./home.scss";
@import "./home-backup.scss";
@import "./joinourteam.scss";
@import "./carousel.scss";
@import "./text-swap.scss";

* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  @apply text-[32px] lg:text-[96px] 3xl:text-[128px] font-bold;
}

h2 {
  @apply text-[32px] lg:text-[48px] 3xl:text-[84px] font-semibold;
}

h3 {
  @apply text-[24px] lg:text-[48px] 3xl:text-[84px];
}

.topic1 {
  @apply text-[24px] lg:text-[32px] xl:text-[36px] 3xl:text-[54px] font-medium;
}

.topic2 {
  @apply text-[16px] lg:text-[28px] 3xl:text-[42px] font-semibold;
}

.title1 {
  @apply text-[16px] lg:text-[20px] 3xl:text-[38px] font-semibold;
}

.title2 {
  @apply text-[14px] lg:text-[20px] 3xl:text-[34px] font-medium;
}

.title3 {
  @apply text-[14px] lg:text-[16px] 3xl:text-[30px] font-semibold;
}

.body1 {
  @apply text-[16px] lg:text-[20px] xl:text-[24px] 3xl:text-[38px];
}

.body2 {
  @apply text-[14px] lg:text-[20px] 3xl:text-[34px];
}

.body3 {
  @apply lg:text-[16px] 3xl:text-[28px];
}

.title2,
.body1,
.body2,
.body3 {
  font-family: "Hind", sans-serif;
}

.bg-noise {
  background-image: url("../public/image/background-noise.webp");
  background-color: white;
  background-size: 100vw, auto;
}

.bg-radial {
  background-image: url("../public/image/Ellipse2.webp"),
    url("../public/image/background-noise.webp"),
    url("../public/image/Ellipse.webp");
  background-position: top, top, bottom;
  background-size: 100% auto, 100%;
  background-repeat: no-repeat, repeat;
}
