#home {
  .image-tilt-right {
    position: relative;
    padding-top: 18px;
    height: 262px;
    width: 80%;
    transform: perspective(1000px) rotate3D(0, 1, 0, 45deg);
  }

  .image-tilt-left {
    position: relative;
    padding-top: 18px;
    height: 262px;
    width: 80%;
    transform: perspective(1000px) rotate3D(0, 1, 0, -45deg);
  }
}
