.marqueeStyle {
  position: relative;
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

.paddingBoxTitle {
  @apply lg:px-8 lg:py-6 px-4 py-3;
}

.joinourteam {
  cursor: url("../public/image/cursor-contact.svg") 50 50, auto;
  // cursor: ("../public/image/cursor-contact.png");
}

.noise {
  width: 100vw;
  background: radial-gradient(
      circle at 50% 125%,
      #475aa8 0,
      #8e9ddc,
      #d6dcf4,
      transparent 100%
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='0.1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%50' height='100%50' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.noise-title {
  background-image: url("../public/image/background-noise.webp");
  background-color: white;
  background-size: cover;
}
