.text-swap-list {
  margin-top: 0;

  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%,
  28% {
    transform: translate3d(0, 0, 0);
  }
  33%,
  61% {
    transform: translate3d(0, -33%, 0);
  }
  66%,
  94% {
    transform: translate3d(0, -66%, 0);
  }
  // 75%,
  // 80% {
  //   transform: translate3d(0, -75%, 0);
  // }
}

// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE :
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines
